services:
  backend:
    build: .
    container_name: backend_django
    ports:
      - "8005:8000"
    environment:
      - DB_IP=db
      - DB_PORT=5432
      - DB_NAME=task_manager_db
      - DB_USER_NM=postgres
      - DB_USER_PW=7856
      - DJANGO_SECRET_KEY==${DJANGO_SECRET_KEY}
      - BOT_API_KEY=${BOT_API_KEY}
      - BOT_API_TOKEN=${BOT_API_TOKEN}
      - DJANGO_HOST=${DJANGO_HOST}
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:latest
    container_name: db_postgresql
    environment:
      - POSTGRES_DB=task_manager_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=7856
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge